*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header{
    background:#83CAFF;
    color:white;
    height:15vh;
    border:5px solid black;
}
.footer{
    background:#83CAFF;
    color:white;
    height:15vh;
}
.mainContent{
    height:70vh;
    display: flex;

}
.sidebarLeft, .sidebarRight{
    width:15%;
    background:#D4AAAA;
    font-size: 40px;
}
.content{
    width:70%;
    text-align: center;
    background-color: yellow;
}
.lorem{
    margin-top: 20px;
}